.navbar{
    background-image: radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(280deg, rgb(37, 56, 222),rgb(96, 189, 244));
}
.nav-link{
    
    font-weight: bold !important;
    font-size: 1rem !important;
    border-radius: 10px;
}

 .nav-link:hover{
    background-color: deeppink !important;
    color: black !important;
 }
 .navbar-toggler{
   background-color: deeppink !important; 
 }
 .butn {
    background-color: deeppink !important;
    border: none;
    color: black;
    font-weight: bold !important;
 }
 .butn:hover {
    background-color: deeppink !important;
    border: none;
    color: black;
    font-weight: bold !important;
 }
 .tts{
  color: #f94DD4 !important;
 }
 .ttc{
  color: #7209b7 !important ;
 }
 .card-title{
   color: #f94DD4 !important;
 }
 .card-text{
   color: #7209b7 !important ;
 }